<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Firestore Contacts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-searchbar (ionInput)="serachContacts($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <button ion-item class="list-item" *ngFor="let contact of contacts" (click)="editContact(contact)">
      <ion-grid>
        <ion-row>
          <ion-col col-1>
            <ion-icon name="contact" class="contact_icon"></ion-icon>
          </ion-col>
          <ion-col col-6>
            {{ contact.name }}
          </ion-col>
          <ion-col col-5>
            {{ contact.phone }}
          </ion-col>
        </ion-row>
      </ion-grid>

    </button>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="addContact()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>