<ion-header>
  <ion-navbar>
    <ion-title>Add a new contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addContactForm" (ngSubmit)="add()" (keyup)="validate()">
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input type="number" formControlName="phone"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full [disabled]="!valid">Add</button>
  </form>
</ion-content>