<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Edit Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]="contact.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Phone</ion-label>
          <ion-input type="number" [(ngModel)]="contact.phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button color="secondary" full (click)="update()">Update Contact</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button color="danger" full (click)="deleteConfirm()">Delete Contact</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>